@use '../../styles/mixins';

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mixins.section(16px, 36px, 80px, 140px);

  &__leaf-icon {
    position: absolute;
    top: 100px;
    left: -61px;
    z-index: 1;
    opacity: 0.4;
    rotate: 0deg 169deg;

    @media (width > 768px) {
      width: 350px;
      height: 366px;
      top: 20px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (width > 1000px) {
      flex-direction: row;
      gap: 80px;
    }

    .about__image-wrapper {
      align-self: center;
      overflow: hidden;
      border-radius: 16px;
      flex: 1;

      .about__image {
        @media (width > 1000px) {
          min-width: 500px;
          min-height: 500px;
        }
      }

      @media (width > 1000px) {
        min-width: 500px;
        min-height: 500px;
      }
    }

    .about__description {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      max-width: 700px;
      color: var(--clr-neutral-l);
      gap: 24px;

      .about__section-heading {
        @include mixins.section-heading;
      }

      .about__heading {
        font-size: clamp(var(--fs-m), 2rem + 2.5vw, var(--fs-l));
      }

      .about__text-block-wrapper {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }

      .about__body {
        font-size: var(--fs-xs);
        line-height: 23px;

        @media (width > 768px) {
          font-size: var(--fs-s);
          line-height: 26px;
        }
      }
    }
  }
}
