@mixin section($mobile-px, $mobile-py, $px, $py) {
  & {
    --padding: #{$mobile-py} #{$mobile-px};
    padding: var(--padding);
    display: flex;
    position: relative;
    overflow: hidden;
    isolation: isolate;

    @media (width > 768px) {
      --padding: #{$py} #{$px};
    }
  }
}

@mixin section-heading {
  font-size: var(--fs-s);
  font-weight: lighter;
  border-bottom: 2px solid var(--clr-primary);
  padding-bottom: 4px;
}

@mixin main-heading {
  font-size: clamp(var(--fs-m), 2rem + 2.5vw, var(--fs-l));
}
